@import "_variables";


@mixin color_half_baked {
    $nesting_color_spicy_mix_approx: #7C593C !global;
    color: $color_half_baked_approx;
}

@mixin color_spicy_mix {
    color: $nesting_color_spicy_mix_approx;
//    color: $color_spicy_mix_approx;
}

@mixin color_white {
    background-color: $white;
}

@mixin color_casal {
    color: $color_casal_approx;
}

@mixin font_1 {
    font-size: 1rem;
}

@mixin font_1_414 {
    font-size: 1.414rem;
}

@mixin font_1_9 {
    font-size: 1.999rem;
}

@mixin color_indian_khaki {
    color: $color_indian_khaki_approx;
}

@mixin border_color_quill {
    border-left: 1px solid $color_quill_gray_approx;
}

@mixin header_710_900 {
    header {
        width: 700px;
        margin: 0 auto;
        min-height: 8rem;

        &:before,
        &:after {
            width: 230px;
        }
    }
}

@mixin header_901_1400 {
    header {
        width: 900px;
        margin: 0 auto;

        &:before,
        &:after {
            width: 300px;
        }
    }
}

@mixin header_1401 {
    header {
        width: 1400px;
        margin: 0 auto;

        &:before,
        &:after {
            width: 450px;
        }
    }
}

@mixin basic_h1_i_fa-lg {
    display: inline;
    vertical-align: baseline;
    float: none;
    font-size: 4rem;
    line-height: 6.3968rem;
}

@mixin header_nav_ul_li_a {
    line-height: 2rem;
    min-height: 2rem;
    border: none;
    padding: 0 1.0rem;
    margin: 1.0rem 0;
    border-left: 1px solid $color_quill_gray_approx;
//    @extend color_white;
}


@mixin header_nav_position {
    header nav {
        @content;
    }
}

@media all and (min-width:701px) and (max-width:900px) {
    @include header_nav_position {
        position: static;
        clear: both;
        width: 100%;
        padding: 0;
    }
}

@media all and (min-width:901px) and (max-width: 1400px) {
    @include header_nav_position {
        position: static;
        clear: both;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

@mixin column_size {
//new content for calculation of column height.
}
