@import "_mixin.scss";


/***********************************************
                MEDIA QUERIES
***********************************************/

@media all and (min-width:701px) and (max-width:900px) {

    @include header_710_900;

    header h1 {
        width: 100%;
        @include color_spicy_mix;
    }

    header h1 i.fa-lg {
        @include basic_h1_i_fa-lg;
        @include color_spicy_mix;
    }

    header h1 i.fa-lg ~ span {
        float: none;
        letter-spacing: 0.25rem;
        font-size: 3.998rem;
        /**
        1 lines of 3.998 * 1.6 = 6.3968
        **/
        text-align: left;
    }

    header nav {
        position: static;
        clear: both;
        width: 100%;
        padding: 0;
    }

    header nav > ul > li {
        width: 20%;
        float: left;
    }

    header nav > ul > li > a {
        @include header_nav_ul_li_a;
        @include font_1;
        min-height: 6rem;
    }

    header nav > ul > li > a:last-child {
        @include border_color_quill;
    }

    section.focal,
    section.content1,
    section.content2,
    footer {
        width: 700px;
        margin: 0 auto;
    }

    .col-4 {
        width: 50%;
        float: left;
    }

    section.content2 h4 {
        @include font_1_414;
    }

    section.content2 li {
        @include font_1_414;
    }

    footer .fa-circle {
        @include color_half_baked;
    }

    footer .col-2:last-child {
        unicode-bidi: bidi-override;
        direction: rtl;
    }

    footer h4[lang=ar] {
        display: block;
    }

    footer h4[lang=de],
    footer h4[lang=en],
    footer h4[lang=ru] {
        display: none;
    }
}



@media all and (min-width:901px) and (max-width: 1400px) {

    @include header_901_1400;

    header h1 {
        width: 100%;
        @include color_casal;
    }

    header h1 i.fa-lg {
        @include basic_h1_i_fa-lg;
        @include color_casal;
    }

    header h1 i.fa-lg ~ span {
        float: none;
        letter-spacing: 0.25rem;
        font-size: 3.998rem;
        /**
        1 lines of 3.998 * 1.6 = 6.3968
        **/
        text-align: left;
    }

    header nav {
        position: static;
        clear: both;
        width: 100%;
        padding: 0;
    }

    header nav > ul > li {
        width: 20%;
        float: left;
        @include color_white;
    }

    header nav > ul > li > a {
        @include font_1;
        @include header_nav_ul_li_a;
    }

    header nav > ul > li:first-child a {
        border-left: none;
    }

    section.focal,
    section.content1,
    section.content2,
    footer {
        width: 900px;
        margin: 0 auto;
    }

    section.focal h2 {
        width: 600px;
        margin: 0 auto;
    }

    section.focal p.author {
        width: 600px;
        margin: 0 auto;
    }

    .col-3 {
        float: left;
        width: 30%;
        margin-left: 5%;
    }

    .col-3:first-child {
        margin-left: 0;
    }

    .col-4 {
        width: 22%;
        margin-left: 4%;
        float: left;
    }

    .col-4:first-child {
        margin-left: 0;
    }

    section.content1 h3 {
        @include font_1_9;
        font-weight: 100;
    }

    section.content1 h3 .fa-2x {
        @include font_1_9;
        padding-right: 1rem;
    }

    section.content2 h4 {
        @include font_1_414;
    }

    section.content2 li {
        @include font_1_414;
    }

    section.content2 p {
        font-size: 1rem;
        font-weight: 400;
    }

    footer .fa-circle {
        @include color_indian_khaki;
    }

    footer h4[lang=ru] {
        display: block;
    }

    footer h4[lang=de],
    footer h4[lang=ar],
    footer h4[lang=en] {
        display: none;
    }
}


@media all and (min-width:1401px) {

    @include header_1401;

    header h1 {
        width: 100%;
        @include color_spicy_mix;
    }

    header h1 i.fa-lg {
        @include color_spicy_mix;
        @include basic_h1_i_fa-lg;
    }

    header h1 i.fa-lg ~ span {
        float: none;
        letter-spacing: 0.25rem;
        font-size: 3.998rem;
        /**
        1 lines of 3.998 * 1.6 = 6.3968
        **/
        text-align: left;
    }

    header nav {
        position: static;
        clear: both;
        width: 100%;
        padding: 0;
    }

    header nav > ul > li {
        width: 20%;
        float: left;
        @include color_white;
    }

    header nav > ul > li > a {
        @include header_nav_ul_li_a;
        @include font_1_414;
    }

    header nav > ul > li:first-child a {
        border-left: none;
    }

    section.focal,
    section.content1,
    section.content2,
    footer {
        width: 1400px;
        margin: 0 auto;
    }

    section.focal h2 {
        font-size: 3.998rem;
        width: 600px;
        margin: 0 auto;
    }

    section.focal p.author {
        width: 600px;
        margin: 0 auto;
    }

    .col-3 {
        float: left;
        width: 30%;
        margin-left: 5%;
    }

    .col-3:first-child {
        margin-left: 0;
    }

    .col-4 {
        width: 22%;
        margin-left: 4%;
        float: left;
    }

    .col-4:first-child {
        margin-left: 0;
    }

    section.content1 h3 {
        font-size: 2.827rem;
        font-weight: 100;
    }

    section.content1 h3 .fa-2x {
        font-size: 2.827rem;
        padding-right: 1rem;
        vertical-align: middle;
    }

    section.content2 h4 {
        @include font_1_9;
    }

    section.content2 li {
        @include font_1_9;
    }

    section.content2 p {
        @include font_1_414;
        font-weight: 400;
    }

    footer p {
        @include font_1_414;
        letter-spacing: 0.2rem;
    }

    footer p:last-child {
        color: $color_quill_gray_approx;
    }

    footer .fa-circle {
        @include color_half_baked;
    }

    footer h4[lang=en] {
        display: block;
    }

    footer h4[lang=de],
    footer h4[lang=ar],
    footer h4[lang=ru] {
        display: none;
    }
}
